pre {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.guide-section p {
    color:#505050;
    font-weight: 400;
    margin-bottom: .8em;
}


blockquote {
    background: #f1f1f1;
    padding: 1em;
    color: #c12d2d;
    margin-top: -2em;
    margin-bottom: 3em;
}
